:root {
  /* width && padding*/
  --text-width: 946px;
  --padding: 1rem;
  --padding2: 2.1rem;
  --padding3: 3rem;
  --padding-top: 12rem;

  --grid-width: 545px;

  /* font-size */
  --fs-600: 3rem;
  --fs-500: 1.5rem;
  --fs-450: 1rem;
  --fs-400: clamp(0.75rem, 2vw, 0.875rem);
  --fs-300: clamp(0.5rem, 1.5vw, 0.625rem);

  /* font-weight */
  --fw-300: 300;
  --fw-600: 600;

  /* colors */
  --work-grid-color1: #ff0112;
  --work-grid-color2: #0d64fe;
  --work-grid-color3: #440099;
  --work-grid-color4: #7e7e7e;
  --work-grid-color5: #003895;
  --work-grid-color6: #1676f3;
  --work-grid-color7: #000000;
  --work-grid-color8: #edf397;
  --small-font-color: #151515;
  --wok-profile-color: #f9f9f9;
}

.work_even_container {
  width: min(var(--container-width), 100% - var(--padding) * 2);
  margin-inline: auto;
  padding-top: var(--padding-top);
}

.work_text {
  width: min(var(--text-width), 100%);
  margin-inline: auto;
}

.work_text p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  text-align: center;
  text-transform: capitalize;
}

.work_grid_container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(34.063rem, 100%), 1fr));
  gap: 1em;
  padding-block: 6em;
}

.work_grid_card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 290px;
  padding: 1em;
  overflow: hidden;
}

.work_grid_card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.work_profile_text img {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
  object-fit: cover;
}

.color1 {
  background-color: var(--work-grid-color1);
}

.color2 {
  background-color: var(--work-grid-color2);
}

.color3 {
  background-color: var(--work-grid-color3);
}

.color4 {
  background-color: var(--work-grid-color4);
}

.color5 {
  background-color: var(--work-grid-color5);
}

.color6 {
  background-color: var(--work-grid-color6);
}

.color7 {
  background-color: var(--work-grid-color7);
}

.color8 {
  background-color: var(--work-grid-color8);
}

.work_profile_even_container {
  width: min(var(--container-width), 100% - var(--padding) * 2);
  margin-inline: auto;
}

.work_profile_even_container h1 {
  font-size: clamp(1.9rem, 4vw, 3rem);
  font-weight: var(--fw-300);
  text-align: center;
  padding-bottom: 1.3em;
}

.work_profile_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(34.063rem, 100%), 1fr));
  gap: 1em;
  padding-bottom: var(--padding3);
}

.work_profile {
  background-color: var(--wok-profile-color);
  padding: var(--padding2);
}

.work_profile_text {
  display: flex;
  align-items: center;
  column-gap: 1.3em;
}

.work_text small {
  font-size: var(--fs-300);
  text-decoration: cadetblue;
}

.work_profile h3 {
  padding-block: 1.7em;
  font-size: var(--fs-400);
  font-weight: var(--fw-600);
}

.work_profile p {
  font-size: var(--fs-400);
}

@media (max-width: 64em) {
  .work_grid_card {
    height: 220px;
  }

  .work_even_container {
    padding-top: 8rem;
  }
}

@media (max-width: 50em) {
  .work_text p {
    text-align: left;
  }

  .work_profile_even_container h1 {
    line-height: 1.1;
  }

  .work_even_container {
    padding-top: 6rem;
  }

  .work_grid_card {
    height: 180px;
  }

  .work_grid_container {
    padding-block: 3em;
  }

  .work_profile_grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 30em) {
  .work_grid_card {
    height: 140px;
  }

  .work_grid_container,
  .work_profile_grid {
    gap: 0.5em;
  }

  .work_profile {
    padding: 1em;
  }
}
